@media ( min-width: 1200px ) {
  .container {
    max-width: 1170px;
  }
}
@media ( min-width: 992px ) and ( max-width: 1400px ) {

  .site-menu ul li:nth-last-child(1),
  .site-menu ul li:nth-last-child(2) {
    .sub-menu {
      left: auto;
      right: 0;

      li {
        .sub-menu {
          left: auto;
          right: 90%;
        }
        &:hover {
          > .sub-menu {
            left: auto;
            right: 100%;
          }
        }
      }
    }
  }

}

@media ( min-width: 1024px ) and ( max-width: 1200px ) {

  .element-intro {
    .intro-content-box {
      width: 55%;
    }
  }
  .element-intro-link {
    .element-intro-link__item {
      .item-image {
        height: 110px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .element-our-services {
    .list-box-services {
      .icon-services {
        width: 70px;
      }
      .content-services {
        padding: 0 30px 0 15px;
      }
    }
  }

}

@media ( min-width: 992px ) {

  .site-menu {
    ul {
      li {
        .sub-menu {
          display: block !important;
        }
      }
    }
  }

}

@media ( min-width: 992px ) and ( max-width: 1200px ) {

  .site-menu {
    ul {
      li {
        a {
          padding: 0 12px;
        }
      }
    }
  }
  .header {
    .information {
      padding: 15px;

      p {
        strong {
          font-size: 16px;
        }
        a {
          font-size: 15px;
        }
      }
    }
  }

}

@media ( max-width: 991px ) {

  .header-bottom_warp {
    display: block;
  }
  .site-logo {
    @include flexbox();
    @include justify-content(space-between);
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .site-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $background-hover;

    .collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }
    ul {
      li {
        display: block;
        padding: 0;
        border-left: none;
        border-bottom: 1px solid rgba(255,255,255,0.2);

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-bottom: 0;
        }
        &.current_page_item,
        &.current-menu-ancestor {
          border-color: rgba(255,255,255,0.2);
          background-color: #f6295b;

          > a {
            background-color: transparent;
          }
        }
        a {
          display: inline-block;
          padding: 10px 15px;
          font-size: 14px;
          color: #ffffff;
        }
        .sub-menu {
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          border-top: 0;
          background-color: transparent;
          @include transition-duration(0s);

          li {
            padding: 0;

            a {
              padding: 5px 15px;
              color: #ffffff;
              border-bottom: none;

              &:before {
                content: "\f10c";
                display: inline-block;
                font-family: "fontawesome";
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                margin-right: 10px;
              }
            }
            .icon_menu_item_mobile {
              top: 5px;
            }
            &.lang-item {
              a {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .icon_menu_item_mobile {
    display: block;
  }
  .element-our-services {
    .list-box-services {
      .item-col {
        &:before {
          position: absolute;
          content: "";
          height: 1px;
          top: 0;
          left: 15px;
          right: 15px;
          background-color: #723617;
        }
      }
      .item {
        &:after {
          display: none;
        }
      }
    }
  }
  .site-product-cat {
    .pagination {
      margin-top: 15px;
      text-align: left;
    }
  }
  .site-footer__menu {
    text-align: inherit;

    ul {
      padding: 0;
    }
  }
  .site-blog-post {
    .post-item {
      .title-post {
        font-size: 16px;
      }
    }
  }

}

@media ( min-width: 768px ) {

  .element-partners {
    .element-partners__logo {
      max-width: 500px;
      margin: 0 auto;
    }
  }

}

@media ( min-width: 768px ) and ( max-width: 991px ) {

  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) {
    @include flex-direction(column);
  }
  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item--image,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) .recent_posts_thumbs_widget_item--image {
    max-width: 100%;
    margin: 0 0 10px;
  }
  .recent_posts_thumbs_widget_grid {
    .recent_posts_thumbs_widget_item {
      width: 100%;
    }
  }
  .element-intro {
    .intro-content-box {
      width: 50%;
    }
  }
  .element-contact-us {
    &.contact-us-type1 {
      .list {
        .item {
          padding: 25px 15px;

          .custom-padding {
            padding-left: 28px;

            &.link-email {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  section {
    &.widget {
      .product-link-widget__content {
        .product-link-widget__item {
          padding: 10px 25px;
        }
      }
    }
  }
  .site-product-list {
    .site-product-list__item {
      .info-product {
        padding: 25px 10px;
      }
    }
  }
  .site-single-product {
    .product-item-info {
      .product-item-link-btn {
        margin-right: 15px;

        a {
          padding: 15px 25px;
        }
      }
    }
  }

}

@media ( max-width: 767px ) {

  //.site-sidebar {
  //  padding-top: 50px;
  //}
  .element-intro {
    .intro-content-box {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .element-intro-link {
    .element-intro-link__item {
      .item-image {
        height: 150px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .element-partners {
    .element-partners__content {
      .sub-title {
        font-size: 30px;
      }
      .link-text {
        padding: 10px 25px;
      }
    }
  }
  section {
    &.widget {
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
  .elementor-image {
    img {
      width: 100%;
    }
  }
  .fancybox-slide--iframe {
    padding: 30px 15px;
  }
  .site-single {
    .site-post-content {
      .title-post {
        font-size: 18px;
        padding-left: 15px;
      }
    }
  }

}

@media ( min-width: 576px ) and ( max-width: 1200px ) {

  .element-contact-us {
    &.contact-us-type2 {
      .list {
        .item {
          @include flex(0 0 50%);
          max-width: 50%;
        }
      }
    }
  }

}

@media ( min-width: 576px ) and ( max-width: 767px ) {

  .element-slides__item {
    .element-slides__item--description {
      font-size: 35px;
    }
  }

}

@media ( min-width: 481px ) and ( max-width: 1200px ) {

  /* woocommerce */
  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 33.333333%);
              width: 33.333333%;
            }
          }
        }
      }
    }
  }

}

@media ( max-width: 575px ) {

  .site-banner {
    height: 200px;

    img {
      height: 100%;
      object-fit: cover;
    }
    .banner-title {
      .banner-title2 {
        font-size: 35px;
      }
    }
    &.element-banner {
      height: 100%;
    }
    .site-breadcrumb {
      bottom: 5px;
    }
  }
  .comment-form {
    .comment-fields-row {
      margin-bottom: 0;
    }
    .form-comment-item {
      margin-bottom: 30px;
    }
  }
  .element-slides__item {
    .element-slides__item--description {
      font-size: 28px;
    }
  }
  .element-partners {
    .element-partners__content {
      margin-bottom: 15px;
    }
  }
  .element-product-cat {
    .item {
      .element-product-cat__content {
        position: static;
        width: 100%;
        height: auto;

        &:after {
          display: none;
        }
      }
    }
  }
  .element-our-services {
    .list-box-services {
      .icon-services {
        width: 70px;
      }
      .content-services {
        padding: 0 0 0 15px;
      }
    }
  }
  .site-single-product {
    .product-item-info {
      .product-item-link-btn {
        margin: 0 0 15px;
      }
    }
  }
  .site-product-related {
    .title {
      font-size: 20px;
    }
  }
  .element-contact-us {
    &.contact-us-type2 {
      .list {
        .item {
          @include flex(0 0 100%);
          max-width: 100%;

          .link-email {
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

}

@media ( max-width: 480px ) {

  .header {
    .information {
      p {
        strong,
        a {
          font-size: 15px;
        }
      }
    }
  }
  .comments-area {
    .comment-list {
      li {
        .comment-body {
          margin-bottom: 15px;

          .comment-meta {
            padding-left: 15px;
          }
        }
      }
    }
    ul {
      li {
        ul {
          &.children {
            padding-left: 10px;
          }
        }
      }
    }
  }

}