.element-services {
  .image-services {
    margin-bottom: 30px;
  }
  .title {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 50px;
      height: 3px;
      background-color: #ff375c;
    }
  }
}