.element-services {
  .image-services {
    margin-bottom: 30px;
  }
  .title {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
    }
  }
  &.type1 {
    .title {
      margin-bottom: 30px;
      padding-bottom: 20px;

      &:after {
        width: 100%;
        height: 2px;
        background-color: #e6e6e6;
      }
    }
  }
  &.type2 {
    .title {
      margin-bottom: 15px;
      padding-bottom: 15px;

      &:after {
        width: 50px;
        height: 3px;
        background-color: #ff375c;
      }
    }
  }
  .description {
    text-align: justify;
  }
}