.header {
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid rgba( 213,213,213, 0.5 );
  z-index: 999;

  .navbar {
    margin: 0;
  }
}
.site-logo {
  padding: 20px 0 20px 15px;
  @include flex(0 0 auto);

  a {
    display: inline-block;
  }
}
.site-menu {
  @include flex(1);

  ul {
    padding: 0;
    margin: 0;
    min-height: 100%;

    li {
      padding: 0;
      position: relative;
      border-right: 1px solid rgba( 213,213,213, 0.5 );
      @include transition(all 0.4s ease-out);

      &:first-child {
        border-left: 1px solid rgba( 213,213,213, 0.5 );
      }
      a {
        padding: 30px 20px;
        text-shadow: none;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        @include flexbox();
        @include align-items(center);
        min-height: 100%;
      }
      &:hover {
        border-color: $background-hover;

        > a {
          color: #ffffff;
          background-color: $background-hover;
        }
      }
      &.current_page_item,
      &.current-menu-ancestor {
        border-color: $background-hover;

        > a {
          color: #ffffff;
          background-color: $background-hover;
        }
      }
      .sub-menu {
        min-width: 160px;
        background-color: #ffffff;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        min-height: auto;
        @include transition(all 0.4s ease-out);

        li {
          padding: 0;
          display: block;
          border-left: none;

          a {
            white-space: nowrap;
            color: #202020;
            padding: 10px 15px;
            border-bottom: 1px solid #e1e1e1;

            &:hover {
              border-color: $background-hover;
              background-color: $background-hover;
              color: #ffffff;
            }
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
          &.current-menu-item {
            > a {
              background-color: $background-hover;
              color: #ffffff;
              border-color: $background-hover;
            }
          }
          .sub-menu {
            left: 90%;
            top: 0;
          }
          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;

  &:after {
    content: "\f196";
    display: inline-block;
    font-family: "fontawesome";
    font-style: normal;
    font-weight: normal;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f147";
    }
  }
}